.column {
  display: flex;
  flex-direction: column;
  width: 354px;
}
.column header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button_wrapper {
  display: flex;
  flex-direction: row;
  gap: .75rem;
}

.column hr {
  border-color: #000000;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  padding: 10px;
  gap: .75rem;
}
.list ol {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}