.card {
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  gap: .5rem;
  background-color: #fff;
}

.title {
  font-size: 1.25rem;
}

.info {
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}
.info .leftArea {
  display: inherit;
  align-items: inherit;
  gap: .5rem;
}

.label {
  min-width: 70px;
  padding: 3px 10px;
  background-color: #898989;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.dueDate {
  color: #898989;
}